<h1>Edit Websites</h1>
<ul>
	<% @websites.each do |website| %>
		<li><%= link_to website.title, edit_website_path(website) %></li>
	<% end %>
</ul>
<ul class="individual">
	<li><%= link_to 'New website', new_website_path %></li>
</ul>