<%= render :partial => "websites/website" %>
<ul class="individual">
	<li><%= link_to 'Edit', edit_website_path(@website) %></li>
	<li><%= link_to 'Delete', @website, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>