<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
<head profile="http://gmpg.org/xfn/11"> 
	<title>Jon Karna</title>
  
	<!-- Meta Tags --> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="flash, flex, actionscript, flash xml" /> 
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/iphone.css" type="text/css" media="screen, projection" /> 
 
  	<!-- Links: RSS + Atom Syndication + Pingback etc. --> 
	<link rel="alternate" type="application/rss+xml" title="The Blog of Jon Karna RSS Feed" href="http://feeds2.feedburner.com/jonkarna" /> 
</head>
<body class="home blog y2010 m06 d30 h09 windows chrome ch6-0">
	<div id="header">
		<% if @backLink != '' %>
			<a href="<%= @backLink %>" class="nav" id="backButton">Back</a>
		<% end %>
		<h1>Sitepro Portfolio</h1>
	</div>
	<%= yield %>
</body>
</html>