<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
<head profile="http://gmpg.org/xfn/11"> 
	<title>Sitepro Portfolio By Jon Karna</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/iphone.css" type="text/css" media="screen, projection" /> 
</head>
<body>
	<div id="header">
		<% if @backLink != '' %>
			<a href="<%= @backLink %>" class="nav" id="backButton">Back</a>
		<% end %>
		<h1>Sitepro Portfolio</h1>
	</div>
	<%= yield %>
</body>
</html>