<h1>Editing website</h1>
<%= render :partial => "websites/form" %>
<ul class="individual">
	<li><%= link_to 'Show', category_categorization_path(@category, @categorization) %></li>
	<li><%= link_to 'Delete', @website, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>