<%= render :partial => "websites/website" %>
<% if logged_in? %>
	<ul class="individual">
		<li><%= link_to 'Edit', edit_category_categorization_path(@category, @categorization) %></li>
		<li><%= link_to 'Delete', @website, :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>
<% end %>