<div id="header">
	<h1>Sitepro Portfolio</h1>
</div>
<% if false %>
	<p style="color: green"><%= flash[:notice] %></p>
<% end %>
<ul>
	<% @categories.each do |category| %>
		<li><%= link_to category.name, category %></li>
	<% end %>
</ul>
<%= link_to 'New category', new_category_path %>