<ul>
	<% @categories.each do |category| %>
		<li><%= link_to category.name, category %></li>
	<% end %>
</ul>
<% if logged_in? %>
	<ul class="individual">
		<li><%= link_to 'New category', new_category_path %></li>
		<li><%= link_to 'Edit Websites', websites_path %></li>
	</ul>
<% end %>