<h1><%=h @category.name %></h1>
<ul>
	<% for categorization in @category.categorizations %>
		<li><%= link_to categorization.website.title, category_categorization_path(@category, categorization) %></li>
	<% end %>
</ul>
<% if logged_in? %>
	<ul class="individual">
		<li><%= link_to 'Edit', edit_category_path(@category) %></li>
		<li><%= link_to 'Delete', @category, :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>
<% end %>