<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<ul>
	<% for website in @category.websites %>
		<li><%= website.title %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>